@charset "UTF-8";
/* Variables */
/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  text-align: center;
  background-color: #6b0504;
  color: #fbfffe;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 120px;
  background-color: #6aa84f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav aside img {
  height: 120px;
  padding: 0;
  width: auto;
  color: #6aa84f;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #001514;
  font-size: 32px;
}
.logo h5 {
  color: #fbfffe;
  margin-left: 10px;
}
.logo span {
  color: #fbfffe;
}

.navbar {
  float: all;
  height: 120px;
  background-color: #6aa84f;
}
.navbar:hover {
  background-color: #6aa84f;
  color: #fbfffe;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  color: #fbfffe;
  font-size: 16px;
}
.navbar ul li a:hover {
  color: #001514 !important;
}

.navbar-toggler-icon {
  color: #fbfffe;
}

.navbar-toggler:hover .navbar-toggler-icon {
  color: #001514;
}

main {
  background-color: #6b0504;
  display: flex;
  flex-wrap: wrap;
}
main h2 {
  background-color: rgb(107, 5, 0);
  color: #6aa84f;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
  font-size: bolder;
}

.nright {
  background-color: rgb(107, 5, 0);
  color: #fbfffe;
  font-size: 20px;
  text-align: center;
  height: auto;
  width: 50%;
  text-align: center;
  color: #fbfffe;
  padding: 30px;
  box-sizing: border-box;
}
.nright span {
  font-weight: bold;
}

.nleft {
  background-color: #fbfffe;
  image-resolution: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1nleft,
.p2nleft,
.p3nleft,
.p4nleft,
.p5nleft,
.p6nleft {
  background-image: url(multimdia/prepararmate_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  padding: 75px;
  transition: transform 0.3s ease;
}
.p1nleft:hover,
.p2nleft:hover,
.p3nleft:hover,
.p4nleft:hover,
.p5nleft:hover,
.p6nleft:hover {
  transform: scale(1.3);
}

.p2nleft {
  background-image: url(multimdia/prepararmate_2.png);
  transition: transform 0.3 ease;
}
.p2nleft:hover {
  transform: scale(1.3);
}

.p3nleft {
  background-image: url(multimdia/prepararmate_3.png);
}

.p4nleft {
  background-image: url(multimdia/prepararmate_4.png);
}

.p5nleft {
  background-image: url(multimdia/prepararmate_5.png);
}

.p6nleft {
  background-image: url(multimdia/prepararmate_6.png);
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}

.mapa {
  width: 100%;
  max-width: none;
  height: auto;
  background-color: #fbfffe;
  transition: transform 0.3s ease-in-out;
}

.ben {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.ben img {
  height: auto;
  max-width: 100%;
}

.imagen-centrada {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.imagen-centrada img {
  max-width: 100%;
  max-height: 100%;
}

.call {
  width: 100%;
  color: #fbfffe;
  padding: 24px;
}
.call ol li {
  margin-left: 20px;
}
.call ul {
  margin-top: 20px;
}
.call ul li span {
  font-weight: bold;
  margin-inline: 5px;
}
.call ul li {
  margin-left: 20px;
}

h1 {
  color: #6aa84f;
  bottom: 10px;
}

h3 {
  margin: 4px;
  color: #fbfffe;
}

.consejos {
  font-size: 24px;
  text-align: center;
}
.consejos h2 {
  text-align: center;
  margin: 24px;
}
.consejos img {
  max-width: 100%;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-width: auto;
  min-height: auto;
  text-align: center;
}
.consejos p {
  margin: 8px;
  color: #6aa84f;
  font-weight: bold;
}
.consejos ol li {
  margin: 8px;
  font-style: italic;
}
.consejos img {
  width: 75%;
  margin: 20px;
  display: block;
  border-radius: 4px;
  text-align: center;
}
.consejos ul li {
  margin: 8px;
  -webkit-text-size-adjust: 10px;
     -moz-text-size-adjust: 10px;
          text-size-adjust: 10px;
  margin-top: 20px;
}
.consejos ul li span {
  font-weight: bold;
}

.imagen-centrada {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.imagen-centrada img {
  max-width: 100%;
  max-height: 100%;
}

#imagenCarousel .carousel-inner .carousel-item .imagen-centrada img {
  max-width: 100%;
  max-height: 100%;
}

.mates {
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  color: #fbfffe;
}
.mates span {
  font-weight: bold;
  padding: 20px;
}
.mates ul li {
  margin-top: 20px;
}

.sub1 {
  color: #fbfffe;
  background-color: #6b0504;
  text-align: center;
  padding-bottom: 20px;
}
.sub1 ul li {
  margin: 20px;
  font-size: 20px;
}
.sub1 ul span {
  font-weight: bold;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  z-index: 1;
  color: #001514;
  margin-bottom: 30px;
  position: relative;
  /* Estilos para el botón de enviar personalizado */
}
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #fbfffe;
  border-radius: 4px;
  background-color: #6aa84f;
  color: #001514;
}
form input[type=submit] {
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #6aa84f;
  color: #001514;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form input[type=submit] {
  background-color: #6aa84f;
}
form .required {
  color: #6b0504;
}
form .custom-submit-button {
  width: 150px;
  padding: 10px;
  background-color: #6aa84f;
  color: #fbfffe;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form .custom-submit-button:hover {
  background-color: #001514;
}

.mate-contacto {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
  text-align: center;
}

footer {
  background-color: #001514;
  color: #fbfffe;
  padding: 40px;
  font-size: 20px;
}
footer aside img {
  height: 100px;
  display: flex;
}
footer p {
  text-align: center;
  color: #fbfffe;
  padding: 20px;
  font-size: 20px;
}
footer .redes {
  color: #6aa84f;
  font-size: 40px;
  letter-spacing: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes .fa-brands {
  transition: color 0.3;
  cursor: pointer;
}
footer .redes .fa-brands:hover {
  color: rgb(107, 5, 0);
}
footer #mapa-sitio {
  background-color: #001514;
  padding: 20px;
  color: #fbfffe;
  margin-top: 20px;
}
footer #mapa-sitio h2 {
  text-align: center;
  font-size: 18px;
  background-color: #001514;
  color: #fbfffe;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
}
footer #mapa-sitio ul {
  list-style: circle;
}
footer #mapa-sitio a {
  text-decoration: none;
  color: #6aa84f;
  font-weight: bold;
  font-size: 16px;
}
footer #mapa-sitio a:hover {
  color: rgb(107, 5, 0);
}
footer #mapa-sitio ul li:nth-child(1) {
  background: linear-gradient(0deg, #000815, transparent) repeat;
}
footer #mapa-sitio ul li:nth-child(2) {
  background: linear-gradient(0deg, #060015, transparent) repeat;
}
footer #mapa-sitio ul li:nth-child(3) {
  background: linear-gradient(0deg, #140015, transparent) repeat;
}
footer #mapa-sitio ul li:nth-child(4) {
  background: linear-gradient(0deg, #150008, transparent) repeat;
}
footer #mapa-sitio ul li:nth-child(5) {
  background: linear-gradient(0deg, #150600, transparent) repeat;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #6aa84f;
  color: #fbfffe;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 5px #fbfffe;
  border-radius: 4px;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .navbar-collapse {
    background-color: #6aa84f;
    display: flex;
    justify-content: left !important;
  }
  .nright {
    width: 100;
  }
}
@media (max-width: 767px) {
  .mate-contacto {
    display: none;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .nleft,
  .nright {
    width: 100%;
    order: unset;
  }
}
@media (max-width: 767px) and (min-width: 768px) and (min-width: 1024px) {
  .nleft {
    order: 1;
    width: 100%;
  }
  .nright {
    order: 2;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .nleft {
    width: 50%;
  }
  .nright {
    width: 50%;
  }
}/*# sourceMappingURL=estilos.css.map */