*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    height: 120px;
    background-color: #6aa84f;
    
}

nav aside img{
    height: 80px;
    padding: 20px;
    width: auto;
    background-color: #6aa84f;
    color:#6aa84f;
}

.logo{
    float: left;
    font-weight: bold;
    color: #001514;
    font-size: 32px;
}

.logo span{
    color: #fbfffe;
}

.navbar{
    float: all;
    height: 120px;
    background-color: #6aa84f;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: #fbfffe;
    font-size: 16px;
}

.navbar a:hover{
    color: #001514 !important;
}

.nav-link{
    color: #fbfffe !important;
}

main{
    background-color: #6b0504;
    display: flex;
    flex-direction: column;
    
}


h2{
    background-color: rgb(107, 5, 0.2);
    color: #6aa84f;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    font-size: bolder;
}

.nright{
    background-color: rgb(107, 5, 0.2);
    color: #fbfffe;
    font-size: 20px;
    text-align: center;
    height:auto;
        
}

.nleft{
    background-color: #fbfffe;
    image-resolution: 50%;
}

.p1nleft{
    background-image: url(multimdia/prepararmate_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0;
}
.p2nleft{
    background-image: url(multimdia/prepararmate_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.p3nleft{
    background-image: url(multimdia/prepararmate_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0;
}
.p4nleft{
    background-image: url(multimdia/prepararmate_4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0;
}
.p5nleft{
    background-image: url(multimdia/prepararmate_5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0;
}
.p6nleft{
    background-image: url(multimdia/prepararmate_6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0;
}

.video{
    width: auto;
    height: auto;
    border: none !important;
    background: #fff !important;
    padding: .9em!important;
    margin: 2%!important;
    align-content: center;
    
}

.ben{
    align-items: center;
    max-width: 100%;
    height: 20%;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.call{
    width: 100%;
    color: #fbfffe;
    padding: 24px;
}

h1{
    color: #6aa84f;
    bottom: 10px;
}

h3{
    margin: 4px;
    color: #fbfffe;
}

.consejos{
    font-size: 24px;
}

.consejos h2{
    text-align: center;
    margin: 24px;
}

p{
    margin: 8px;
    color: #6aa84f;
    font-weight: bold;
}

.call ol li{
    margin: 8px;
    font-style: italic;
}

.call img{
    width: 75%;
    margin: 20px;
    display: block;
    border-radius: 4px;
}

.call ul li{
    margin: 8px;
    text-size-adjust: 10px;
    margin-top: 20px;
}

.call ul li span{
    font-weight: bold;
}
.sub1{
    color: #6aa84f;
    background-color: #6b0504;
    text-align: center;
    padding-bottom: 20px;
    
}



section h2{
    font-weight: bold;
    text-align: center;
    color: #fbfffe;
    margin: 24px;
}
section ul{
    color: #fbfffe;
    margin: 40px;
    
}

section ul li{
    margin: 16px;
    width: 150%;
    padding: 4px;
}
section ul li span{
    font-weight: bold;
}

form{
    max-width: 400px;
    margin: 20% auto;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],

input[type="email"],

textarea{
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #001514;
    border-radius: 4px;
}

input[type="submit"]{
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #001514;
    color: #fbfffe;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #001514;
    
}

.required{
    color: #6b0504;
}

footer{
    background-color: #001514;
    color: #fbfffe;
    padding: 40px;
    font-size: 20px;
    
}

footer aside img{
    height: 100px;
    display: flex;
}

footer p{
    text-align: center;
    color: #fbfffe;
    padding: 20px;
    font-size: 20px;
    
}
.redes{
    color: #6aa84f;
    font-size: 40px;
    letter-spacing: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subir{
    height: 40px;
    width: 40px;
    background-color: #6aa84f;
    color: #001514;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 5px #fbfffe;
    border-radius: 4px;
}

@media only screen and (min-width: 0) and (max-width: 767px){
    .navbar-collapse{
        background-color: #6aa84f;
        display: flex;
        justify-content: left !important;
    }
}

