/* Variables */
$primary-color: #6aa84f;
$secondary-color: #fbfffe;
$background-color: #6b0504;
$highlight-color: rgb(107, 5, 0.2);

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    text-align: center;
    background-color: $background-color;
    color: $secondary-color;
    margin-bottom: 0;
}



html {
    scroll-behavior: smooth;
}

header {
    height: 120px;
    background-color: $primary-color;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav aside img {
    height: 120px;
    padding: 0;
    width: auto;
    color: $primary-color;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #001514;
    font-size: 32px;

    h5 {
        color: $secondary-color;
        margin-left: 10px;
    }

    span {
        color: $secondary-color;
    }

}


.navbar {
    float: all;
    height: 120px;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: $secondary-color;
                font-size: 16px;

                &:hover {
                    color: #001514 !important;
                }
            }
        }
    }
}

.navbar-toggler-icon {
    color: #fbfffe;
}

.navbar-toggler:hover .navbar-toggler-icon {
    color: #001514;
}

main {
    background-color: $background-color;
    display: flex;
    flex-wrap: wrap;


    h2 {
        background-color: $highlight-color;
        color: $primary-color;
        text-align: center;
        padding: 20px;
        margin-bottom: 0;
        font-size: bolder;
    }
}

.nright {
    background-color: $highlight-color;
    color: $secondary-color;
    font-size: 20px;
    text-align: center;
    height: auto;
    width: 50%;
    text-align: center;
    color: $secondary-color;
    padding: 30px;
    box-sizing: border-box;

    span {
        font-weight: bold;
    }
}

.nleft {
    background-color: $secondary-color;
    image-resolution: 100%;
    object-fit: cover;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.p1nleft,
.p2nleft,
.p3nleft,
.p4nleft,
.p5nleft,
.p6nleft {
    background-image: url(multimdia/prepararmate_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 75px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.3);
    }
}

.p2nleft {
    background-image: url(multimdia/prepararmate_2.png);
    transition: transform 0.3 ease;

    &:hover {
        transform: scale(1.3);
    }
}

.p3nleft {
    background-image: url(multimdia/prepararmate_3.png);
}

.p4nleft {
    background-image: url(multimdia/prepararmate_4.png);
}

.p5nleft {
    background-image: url(multimdia/prepararmate_5.png);
}

.p6nleft {
    background-image: url(multimdia/prepararmate_6.png);
}


.video {
    object-fit: cover;
    display: flex;
}

.mapa {
    width: 100%;
    max-width: none;
    height: auto;
    background-color: $secondary-color;
    transition: transform 0.3s ease-in-out;
}

.ben {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    

    img{
        height: auto;
        max-width:  100%;
        
    }
}

.imagen-centrada {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}


.call {
    width: 100%;
    color: $secondary-color;
    padding: 24px;

    ol li {
        margin-left: 20px;
    }

    ul {
        margin-top: 20px;

        li {
            span {
                font-weight: bold;
                margin-inline: 5px;
            }
        }

        li {
            margin-left: 20px;
        }
    }
}

h1 {
    color: $primary-color;
    bottom: 10px;
}

h3 {
    margin: 4px;
    color: $secondary-color;
}

.consejos {
    font-size: 24px;
    text-align: center;

    h2 {
        text-align: center;
        margin: 24px;
    }

    img {
        max-width: 100%;
        image-rendering: auto;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
        min-width: auto;
        min-height: auto;
        text-align: center;
    }

    p {
        margin: 8px;
        color: $primary-color;
        font-weight: bold;
    }

    ol li {
        margin: 8px;
        font-style: italic;
    }

    img {
        width: 75%;
        margin: 20px;
        display: block;
        border-radius: 4px;
        text-align: center;
    }

    ul li {
        margin: 8px;
        text-size-adjust: 10px;
        margin-top: 20px;

        span {
            font-weight: bold;
        }
    }
}

.imagen-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#imagenCarousel {
    .carousel-inner {
        .carousel-item {
            .imagen-centrada {
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.mates {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    color: $secondary-color;

    span {
        font-weight: bold;
        padding: 20px;
    }

    ul li {
        margin-top: 20px;
    }
}

.sub1 {
    color: $secondary-color;
    background-color: $background-color;
    text-align: center;
    padding-bottom: 20px;

    ul {
        li {
            margin: 20px;
            font-size: 20px;
        }

        span {
            font-weight: bold;
        }
    }
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    z-index: 1;
    color: #001514;
    margin-bottom: 30px;
    position: relative;

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        background-color: $primary-color;
        color: #001514;
    }


    input[type="submit"] {
        display: block;
        width: 80%;
        padding: 10px;
        background-color: $primary-color;
        color: #001514;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"] {
        background-color: $primary-color;
    }

    .required {
        color: $background-color;
    }

    /* Estilos para el botón de enviar personalizado */
    .custom-submit-button {
        width: 150px;
        padding: 10px;
        background-color: #6aa84f;
        color: #fbfffe;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #001514;
        }
    }
}

.mate-contacto {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
    text-align: center;
}



footer {
    background-color: #001514;
    color: $secondary-color;
    padding: 40px;
    font-size: 20px;

    aside img {
        height: 100px;
        display: flex;
    }

    p {
        text-align: center;
        color: $secondary-color;
        padding: 20px;
        font-size: 20px;
    }

    .redes {
        color: $primary-color;
        font-size: 40px;
        letter-spacing: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-brands {
            transition: color 0.3;
            cursor: pointer;

            &:hover {
                color: $highlight-color;
            }
        }
    }



    #mapa-sitio {
        background-color: #001514;
        padding: 20px;
        color: $secondary-color;
        margin-top: 20px;

        h2 {
            text-align: center;
            font-size: 18px;
            background-color: #001514;
            color: $secondary-color;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 0;
        }

        ul {
            list-style: circle;
        }

        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                color: $highlight-color;
            }
        }

        ul li {

            $num-colors: 5;
            $angle: 0deg;


            @for $i from 1 through $num-colors {

                $position: ($i - 1) * (20% / $num-colors);


                $color: adjust-hue(#001514, $i * 40);

                &:nth-child(#{$i}) {
                    background: linear-gradient(#{$angle}, $color, transparent) repeat;
                }
            }
        }
    }
}

.subir {
    height: 40px;
    width: 40px;
    background-color: $primary-color;
    color: $secondary-color;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 5px #fbfffe;
    border-radius: 4px;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
    .navbar-collapse {
        background-color: #6aa84f;
        display: flex;
        justify-content: left !important;
    }

    .nright {
        width: 100;
    }
}

@media (max-width: 767px) {
    .mate-contacto {
        display: none;
    }

    @media (max-width: 767px) {

        .nleft,
        .nright {
            width: 100%;
            order: unset;
        }
    }

    @media (min-width: 768px) and (min-width: 1024px) {
        .nleft {
            order: 1;
            width: 100%;
        }

        .nright {
            order: 2;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {


    .nleft {

        width: 50%;
    }

    .nright {

        width: 50%;
    }
}